header {
    width: 100%;
    nav {
        width: 40%;
        @media screen and (max-width: 968px) {
            width: 80%;
        }
    }
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;

}
