.section1 {
    width: 40%;
    margin-top: 147px;
    @media screen and (max-width: 968px) {
        margin-top: 80px;
        width: 100%;
    }
    &__info {

    }
    &__title {
        margin-bottom: 40px;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        color: $black;
    }
    &__img {
        position: absolute;
        right: -300px;
        top: -400px;
        width: 1030px;
        img {
            width: 100%;
            border-radius: 100%;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 24px;
        color: $grey;
        &:first-child {
            margin-bottom: 40px;
        }
    }
    &__btnGoogle {
        margin: 72px 0 300px;
        border: none;
        background: none;
        @media screen and (max-width: 968px) {
            margin-bottom: 150px;
        }
    }
}





.section2 {
    display: flex;
    flex-direction: column;
    margin-block-end: 125px;
    @media screen and (max-width: 968px) {
        align-items: center;
    }
    &__title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
        color: $black;
    }
    &__text {
        margin-left: 20px;
        font-size: 18px;
        line-height: 24px;
        color: $grey;
    }
    &__info1 {
        position: relative;
        width: 30%;
        z-index: 5;
        @media screen and (max-width: 968px) {
            margin: 0;
            margin-bottom: 150px;
            width: 50%;
        }
        &--number {
            position:  absolute;
            top: -80px;
            left: -60px;
            font-size: 228px;
            color: $greylight;
            font-weight: 900;
            z-index: -1;
        }
    }
    &__info2 {
        position: relative;
        width: 30%;
        margin: 0 auto;
        z-index: 5;
        @media screen and (max-width: 968px) {
            margin: 0;
            margin-bottom: 150px;
            width: 50%;
        }
        &--number {
            position:  absolute;
            top: -80px;
            left: -60px;
            font-size: 228px;
            color: $greylight;
            font-weight: 900;
            z-index: -1;
            @media screen and (max-width: 968px) {
                top: -100px;
                margin-bottom: 50px;
            }
        }
    }
    &__info3 {
        position: relative;
        width: 30%;
        margin: 0 0 0 auto;
        z-index: 5;
        @media screen and (max-width: 968px) {
            width: 50%;
            margin: 0;
        }
        &--number {
            position:  absolute;
            top: -80px;
            left: -60px;
            font-size: 228px;
            color: $greylight;
            font-weight: 900;
            z-index: -1;
            @media screen and (max-width: 968px) {
                top: -100px;
            }
        }
    }
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block-end: 236px;
    z-index: 5;
    h2 {
        margin-bottom: 48px;
        font-weight: 700;
        font-size: 40px;
        line-height: 32px;
        color: $black;
    }
    &__img {
        position: absolute;
        left: -580px;
        z-index: -1;
        width: 1140px;
        height: 1140px;
        img {
            border-radius: 100%;
            width: 100%;
            height: 100%;
        }
    }
    &__title2 {
        margin-bottom: 8px;
        font-size: 28px;
        line-height: 32px;
        font-weight: 700;
        color: $black;
        text-align: left;
    }
    &__p {
        font-size: 18px;
        line-height: 24px; 
        color: $grey;
        text-align: left;
    }
    &__wrap {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        background: $white;
        -webkit-box-shadow: 2px 0px 60px 0px rgba(20,0,0,0.2);
        -moz-box-shadow: 2px 0px 60px 0px rgba(20,0,0,0.2);
        box-shadow: 2px 0px 60px 0px rgba(20,0,0,0.2);
        border-radius: 100px;
        padding: 40px;
        &--img {
            width: 88px;
            height: 88px;
            img {
                width: 88px;
                height: 88px;
                border-radius: 100%;
                width: 100%;
            }
        }
        &--text {
            width: 600px;
            margin-left: 32px;
        }
    }

}

.section4 {
    margin: 0 305px;
    text-align: center;
    &__title {
        margin-bottom: 48px;
        font-size: 40px;
        line-height: 32px;
        color: $black;
        font-weight: 700;
    }
    &__text {
        font-size: 18px;
        line-height: 24px;
        color: $grey;
        text-align: left;
        &:last-child {
            margin-top: 40px;
        }
    }
}

